@font-face {
  font-family: myFont;
  src: url(fonts/PublicSans-VariableFont_wght.ttf);
}

p {
  font-family: myFont;
  font-size: 14px;
}

select {
  font-family: myFont;
  font-size: 14px;
}

#vg-tooltip-element {
  font-family: myFont;
}

.columns {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 1200px;
  margin: auto;
}

.vega-bind-name {
  font-family: myFont;
  font-size: 14px;
  font-weight: bold;
}

#title {
  font-family: myFont;
  font-size: 34px;
}

#container1 {
    position: relative;
    height: 700px;
    top: 70px;
    left: 80px;
    display: grid;
    place-items: left;
  }
  
  #shot_chart {
    display: grid;
    place-items: center;
  }

#container2 {
    position: relative;
    height: 700px;
    top: 170px;
    left: 45px;
    display: grid;
    place-items: left;
  }
  
  #squiggle {
    display: grid;
    place-items: center;
  }

#container3 {
    position: relative;
    top: 170px;
    left: 60px;
    height: 700px;
    display: grid;
    place-items: left;
  }
  
  #radar {
    top: -70px;
    right: 220px;
    display: grid;
    place-items: center;
    font-family: myFont;
  }

#container4 {
  position: relative;
  display: grid;
  place-items: left;
  top: 270px;
  left: 50px;
  height: 700px;
}

  #heatmap {
    display: grid;
    place-items: center;
  }

#container5 {
  position: relative;
  display: grid;
  place-items: left;
  top: 70px;
  height: 700px;
}

#container6 {
  position: relative;
  display: grid;
  place-items: left;
  height: 700px;
  top: 170px;
}

#container7 {
  position: relative;
  display: grid;
  place-items: left;
  height: 700px;
  top: 370px;
}

#container8 {
  position: relative;
  display: grid;
  place-items: left;
  height: 700px;
  top: 270px;
}